<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2009 Google Inc. All Rights Reserved.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.google.android.apps.authenticator2"
          android:versionCode="21" android:versionName="2.21">

  <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="14" />

  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.INTERNET" />

  <!--
  NOTE: android:allowBackup is set to false below to prevent the key material from being extracted
  from the device using various backup methods (e.g., adb backup introduced in ICS).
  -->
  <application android:label="@string/app_name_short"
               android:icon="@drawable/ic_launcher_authenticator"
               android:theme="@style/AuthenticatorTheme"
               android:name="com.google.android.apps.authenticator.AuthenticatorApplication"
               android:allowBackup="false">

    <activity android:name="com.google.android.apps.authenticator.AuthenticatorActivity"
              android:label="@string/app_name_short"
              android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="otpauth" />
      </intent-filter>
    </activity>

    <activity android:name="com.google.android.apps.authenticator.SettingsAboutActivity"
              android:label="@string/about_preference_screen_title" />

    <activity android:name="com.google.android.apps.authenticator.AddOtherAccountActivity"
              android:label="@string/add_account_menu_item" />

    <activity android:name="com.google.android.apps.authenticator.EnterKeyActivity"
              android:label="@string/enter_key_title" />

    <activity android:name="com.google.android.apps.authenticator.CheckCodeActivity"
              android:label="@string/check_code_title" />

    <activity android:name="com.google.android.apps.authenticator.SettingsActivity"
              android:label="@string/main_preference_screen_title" />

    <activity android:name="com.google.android.apps.authenticator.howitworks.IntroEnterPasswordActivity"
              android:theme="@style/AuthenticatorTheme.NoTitleBar"
              android:label="@string/howitworks_page_enter_password_title" />
    <activity android:name="com.google.android.apps.authenticator.howitworks.IntroEnterCodeActivity"
              android:theme="@style/AuthenticatorTheme.NoTitleBar"
              android:label="@string/howitworks_page_enter_code_title" />
    <activity android:name="com.google.android.apps.authenticator.howitworks.IntroVerifyDeviceActivity"
              android:theme="@style/AuthenticatorTheme.NoTitleBar"
              android:label="@string/howitworks_page_verify_device_title" />

    <activity android:name="com.google.android.apps.authenticator.timesync.SettingsTimeCorrectionActivity"
              android:label="@string/timesync_preference_screen_title" />

    <activity android:name="com.google.android.apps.authenticator.timesync.AboutActivity"
              android:theme="@style/AuthenticatorTheme.NoTitleBar"
              android:label="@string/timesync_about_feature_screen_title" />

    <activity android:name="com.google.android.apps.authenticator.timesync.SyncNowActivity"
              android:theme="@android:style/Theme.Translucent.NoTitleBar"
              android:label="@string/timesync_sync_now_screen_title" />

  </application>

</manifest>
